@import '../../../sass/mixins';
@import '../../../sass/variables';
@import './ToolbarMarkdown/toolbarMarkdown';
@import './ToolbarMeta/toolbarMeta';
@import './NoteInfoBar/noteinfobar';

.note {
    display: grid;
    width: 100%;
    background: $color-back;
    grid-template-areas:
        'meta meta'
        'name name'
        'markdown markdown'
        'content content'
        'info info';
    grid-template-rows: 52px 98px 50px 700px 52px;
    grid-auto-flow: row;

    @media (min-width: 800px) {
        border-left: $border;
    }

    .note-name {
        @include textarea(name, 50px, 0px, 100px);
        border-bottom: $border;
    }

    .note-content {
        @include textarea(content, 25px, 0px, 700px);
        border: $border none;
        font-size: 20px;

        div {
            height: 20px;
        }

        strong,
        b {
            font-weight: bold;
        }

        i {
            font-style: italic;
        }
    }
}
