@import '../../../sass/mixins';
@import '../../../sass/variables';
@import './ToolbarMarkdown/toolbarMarkdown';
@import './ToolbarMeta/toolbarMeta';
@import './NoteInfoBar/noteinfobar';

.note {
   
    width: 100%;
    display: grid;
    grid-template-areas:
        // 'auth auth'
        'meta meta'
        'name name'        
        'content content '
        'markdown markdown '
        'info info';
    grid-template-rows:  48px 100px 690px 50px 50px ;
    background: $color-back;
    grid-auto-flow: row;

    .note-name {
        @include textarea(name, 50px, 0px, 102px);
        border: $border;
        border-top: none;
    }

    .note-content {
        @include textarea(content, 25px, 0px, 690px);
        border: $border;
        
        font-size: 20px;
        
        div {
            height: 20px;
        }

        strong, b {
            
            font-weight: bold;
        }
        i {
            font-style: italic;
        }
    }


}

