@import '../../../sass/mixins';
@import '../../../sass/variables';
@import './ToolbarMeta/toolbarMeta';
@import './NoteInfoBar/noteinfobar';

.note {
    display: grid;
    width: 100%;
    background: $color-back;
    grid-template-areas:
        'meta meta'
        'info info'
        'name name'        
        'content content';
    grid-template-rows: 52px 48px 98px 700px;
    grid-auto-flow: row;

    @media (max-width: 800px) {
        grid-template-rows: 52px 52px 65px minmax(200px, 300px);       
    }

    @media (min-width: 800px) {
        border-left: $border;
    }

    .note-name {
        @include textarea(name, 50px, 0px, 100px);
        border-bottom: $border;
    }

    .note-content {
        @include textarea(content, 25px, 0px, auto);
        border-top: $border;
        font-size: 20px;

        @media (max-width: 800px) {
            border-bottom: $border;
        }

        div {
            height: 20px;
        }

        strong,
        b {
            font-weight: bold;
        }

        i {
            font-style: italic;
        }
    }
}
