@import '../../../../sass/variables.scss';

.noteInfoBar {
  
    border-bottom: $border;
    background-color: white;
    grid-area: info;
    display: flex;
    justify-content: space-between;
    padding: 15px 5px;
       
    h2,
    button {
        padding-left: 10px;
        color: $color-bold;
    }
}
