.note {
    border: $border;
    padding: 10px;
    display: grid;
    grid-template-areas:
        'toolbar toolbar . . .'
        'date location . . .'
        'name name . . .'
        'content content . . .';
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 200px auto;
    background: white;   
    grid-auto-flow: row;

    .note-name {
        @include textarea(name, 50px, 10px, 200px)
    }

    .note-content {
        @include textarea(content, 15px, 50px, 700px)
    }

    .note-date {
        @include textarea(date, 15px, 20px, 50px)
    }

    .note-location {
        @include textarea(location, 15px, 20px, 50px)
    }
    
}