@import 'reset.css';
@import 'mixins';
@import 'variables';

@import '../components/NavBar/navbar';
@import '../components/NavBar/tagbar';
@import '../components/CurrentNoteBox/CurrentNoteBox';
@import '../components/NotesContainer/notecontainer';


* {
    box-sizing: border-box;
    height: 100%;
    outline: 0 !important;
    scroll-behavior: smooth;
}

body {
    background-color: $color-back
}

button {
    border: none;
    background-color: transparent;
    &:hover {
        cursor: pointer;
    }
}

.main {
    display: grid;
    height: 950px;
    margin: 10px;
    background-color: white;
    grid-template-columns: 30% auto;

    .left {
        display: grid;
        grid-template-rows: 50px 50px auto;
        grid-auto-flow: row dense;
    }
}

@media (max-width: 800px) {
    .main {
        display: block;

        .left {
            height: auto;

            li {
                height: 100px;
            }
        }

        .narrow-view {
            display: none;
        }

        .full-view {}

        .note-name {
            font-size: 30px;
        }
    }

}

@media (min-width: 1400px) {
    .main {
        margin-right: 400px;
        margin-left: 100px;
    }
}
