@import 'reset.css';
@import 'mixins';
@import 'variables';

@import '../components/NavBar/navbar';
@import '../components/NavBar/tagbar';
@import '../components/CurrentNoteBox/CurrentNoteBox';
@import '../components/NotesContainer/notecontainer';


*{
  box-sizing: border-box; 
  scroll-behavior: smooth;
  outline: 0 !important;
  height: 100%;
}
body {
  background-color: $color-back
}

.main {
  margin: 10px;
  display: grid;
  background-color: white;
  height: 100%;
  grid-template-columns: 30% auto 5%;

  .left {
    display: grid;
    grid-template-rows: 50px 50px 300px 300px;
     grid-auto-flow: row dense;
  }
}

@media (max-width: 800px) {
  .main {
  display: grid;
  grid-template-columns: 100%;
  }
  .currentNoteBox {
    display: none;
  }
    
}