@import 'reset.css';
@import 'mixins';
@import 'variables';

@import '../components/NavBar/navbar';
@import '../components/NavBar/tagbar';
@import '../components/CurrentNoteBox/CurrentNoteBox';
@import '../components/NotesContainer/notecontainer';


*{
  box-sizing: border-box; 
  scroll-behavior: smooth;
  outline: 0 !important;
  height: 100%;
}
body {
  background-color: $color-back
}

.main {
  margin: 10px;
  display: grid;
  background-color: white;
  height: 950px;
  grid-template-columns: 30% auto ;

  .left {
    display: grid;
    grid-template-rows: 50px 50px auto;
     grid-auto-flow: row dense;   
  }
}

@media (max-width: 800px) {
  .main {
    display: block;

    .left {      
        height: auto;
        li {
          height: 100px;
        }   
     }
    .narrow-view {
       display: none;
    }
    .full-view {
       display: block;
    }
  }   
  
}

@media (min-width: 1200px) {
  .main {
    margin-left: 100px;
    margin-right: 400px;
  }
}