 .toolbarMarkdown {
     padding-top: 5px;
     border: $border;
     border-right: none;
     border-left: none;
     background-color: white;
     grid-area: markdown;
 }

 button {
     box-sizing: border-box;
     width: 20px;
     height: 20px;
     padding: 10px 15px 12px 15px;
     border: none;
     border-radius: 3px;
     outline: none;
     color: $color-bold;
     background: none;
     font-size: 12px;
     cursor: pointer;

     &:hover {
         color: #3FECE6;
     }
 }

 select {
     @include bar;
     height: 21px;
     margin: 0;
     outline: none;
     color: $color-bold;
     font-size: 14px;
     cursor: pointer;

     option {
         background: $color-light;
         font-size: 15px;
     }
 }
