@import '../../../sass/mixins';
@import '../../../sass/variables';

.notePreview {
    display: grid;
    grid-template-columns: 30% auto;
    border-bottom: $border;    
    list-style-type: none;
    user-select: none;
    background-color: white;
    &:hover {
        background-color:  $color-back;

    }
    
    .metaPreview {
        color: $color-bold;
        display: grid;   
        
        text-align: center;

        .datePreviewMax {
            margin-left: 10px;
   
            h2 {
                font-size: 30px;
                margin: 0px;
                width: 100%;
                height: 50px;
                padding-top: 10px;
            }

            h3 {
                font-size: 15px;
                margin: 0px;
                width: 100%;
                height: 20px;
            }

            h4 {
                font-size: 15px;
                margin: 0px;
                width: 100%;
                height: 20px;
            }
        }
    }
   
    .noteContentPreview {
        padding-top: 15px;
        padding-left: 25px;
        max-width: 230px;
        
            h2 {
                @include multiLineEllipsis($lineHeight: 18px, $lineCount: 1.0);
                color: $color-bold;
                font-size: 18px;
                height: 25%;        
                width: 90%;              
              
                  &:before {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }            
            }
            
            h5 {
                height: auto;
                display: block;
                float: right;
                color: $color-medium;
                padding-right: 10px;
            }

            p {
                @include multiLineEllipsis($lineHeight: 12px, $lineCount: 3.0);
                width: 95%;                 
                height: 60%;
                color: $color-medium;
                margin: 0 auto;
                margin-left: 0px;
                padding-top: 10px;
            }     
    }
}


@media (min-width: 800px ) and (max-width: 1600px) {

    .noteContentPreview {
         min-width: 100px;
         max-width: 150px;
    }
}