@import 'notepreview';

.left {

    .navbar {
        border: $border;
        border-right: 0;
        height: 50px;
        display: grid;
        grid-template-columns: 90% auto;
    }

    #searchbar {
        @include bar;
        padding-left: 10px;
        height: 25px;
        width: 90%;
        position: relative;
        left: 20px;
        top: 10px;
    }

    ::placeholder {
        color: $color-bold;
    }

    #addnote {
        top: 10px;
        position: relative;
        height: 25px;
        font-size: 27px;
        color: $color-medium;

        &:hover {
            color: grey;
        }
    }

    .notesContainer {
        height: 810px;
        display: grid;
        grid-auto-rows: 100px;
        grid-auto-flow: row dense;
        overflow: auto;

    }
}