@import '../../sass/variables.scss';

.navbar {
    border: $border;
    border-right: 0;
    height: 50px;
    display: grid;
    grid-template-columns: 80% 20%;
    font-family: "Times New Roman", Times, serif;
    background: white;
    
    #searchbar {
        margin-left: 20px;
        margin-right: 0px;
        height: 25px;
        position: relative;
       
        top: 10px;
        border-bottom: $border;
        input {
            border: none;
            background-color: white;
            min-width: 85%;
            padding-left: 5px;

        }
        span {
            color: $color-medium;
            &:hover {
                color: grey;
            }
        }
    }

    ::placeholder {
        color: $color-bold;
    }

    #addnote {
        top: 10px;
        width: 20%;
        margin: 0 auto;
        position: relative;
        height: 25px;
        font-size: 20px;

        color: $color-medium;
        &:hover {
            color: grey;
        }
    }
}