@import '../../sass/variables.scss';

.react-select-container {
    border-bottom: $border;
    border-left: $border;
    padding-top: 5px;
}

.react-select__value-container {
    font-size: 15px;
    margin-left: 10px;
      background: white;
    // &:hover {
    //     color: gold;
    // }
}

.react-select__menu {
    position: relative;
    top: 0;
    height: 75px;
}

.react-select__option {
    font-family: 'Times New Roman', Times, serif;
    height: 25px;
}